/* Common Styles */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


.center{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: 2rem;
}
/* End of Common Styles */

/* Title Section */
.title-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    margin-left: 3rem;
    margin-top: 2.5rem;
    padding: 1rem;
}

.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    position: absolute;
    left: 18rem;
}

.navbar-link{
    font-size: 1.5rem;
    font-weight: 500;
    color: #777;
    margin-right: 3rem;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 11rem;
    top: 6.5rem;
    padding: 2rem 0 2rem 0;
    z-index: 20;
    border: 1px solid;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    visibility: hidden;
    opacity: 0;
}

.navbar-link:hover{
    color: #000;
}

.features.change{
    visibility: visible;
    opacity: 1;
}

.icon{
    padding: .5rem 0 .5rem .5rem;
    justify-content: center;
    text-align: center;
}

.nav-icon{
    padding-right: 1rem;
}

#reminders{
    margin-left: 1.5rem;
}

#register{
    border: 1px solid #777;
    padding: 1rem;
    border-radius: 1.2rem;
}

.company{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 29rem;
    top: 6.5rem;
    padding: 2rem 0 2rem 0;
    z-index: 20;
    border: 1px solid;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    visibility: hidden;
    opacity: 0;
}

.company.change{
    visibility: visible;
    opacity: 1;
}
/* End of Title Section */

/* Body Section */
.wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}

.body-container{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    width: 42vw;
    position: absolute;
    margin-top: 8rem;
    left: 13rem;
}

.body-heading{
    font-family: "Epilogue", sans-serif;
    font-size: 8rem;
    font-weight: 700;
}

.body-text{
    font-size: 18px;
    color: #777;
    width: 80%;
    margin-top: 5rem;
    line-height: 2.5rem;
}

.btn{
    width: 30%;
    margin-top: 5rem;
    padding: 1.5rem;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

.btn:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.logos-container{
    grid-row: 2/2;
}

.design-container{
    grid-column: 2/3;
    overflow: hidden;
}

.hero-img{
    height: 75vh;
    position: absolute;
    right: 10rem;
    top: 3rem;
    overflow: hidden;
}

.logos-container{
    position: absolute;
    width: 100%;
    left: 13rem;
    bottom: 13rem;
}

.client{
    margin-right: 4rem;
}
/* End of Body Section */

/* Attribution */
.attribution{
    margin-bottom: 5rem;
}

.footer{
    font-size: 12px;
    color: #777;
    text-decoration: none;
}
/* Media Queries*/